/**
*
* Feel free to add your own css rules here.
*
*/

.transparent-header header#header .links li a.top-link-login {
  border: 0;
  color: #000;
}

.transparent-header header#header .with-border .language-currency-block .language, .transparent-header header#header .header-right .bottom-block, .transparent-header header#header.header-2 .menu-line .grid_12 {
  border-color: rgba(0,0,0,.2);
}

.transparent-header header.header .top-cart .block-title .cart-qty {
  border-color: #000;
  color: #000;
}

.transparent-header header#header .header-phone i, .transparent-header header#header .language-currency-block, .transparent-header header#header .header-top .language-currency-block, .transparent-header header#header .language-currency-block:hover, .transparent-header header#header .language-currency-block.open, .transparent-header header#header .header-top .language-currency-block:hover, .transparent-header header#header .header-top .language-currency-block.open, .transparent-header header#header .right-menu-button, .transparent-header header#header .search-button, .transparent-header header#header .top-cart .block-title .price, .transparent-header header#header .top-cart .block-title .title-cart, .transparent-header .nav-container a.level-top > span, .transparent-header .nav-container a.level-top:hover > span, .transparent-header .nav-container .over a.level-top > span, .transparent-header .nav-container .active a.level-top > span, .transparent-header .menu-button, .transparent-header header#header .links li a {
  color: #000;
}


.text-banner .text-banner-content h2,
.text-banner .text-banner-content h3,
.text-banner .text-banner-content p {
  color: #FFF;
}
