/**
*
* This file is generated automaticaly. Please do no edit it directly cause all changes will be lost.
*
*/
/*====== Font Replacement - Titles =======*/ 
.widget-latest li h3 a,
.widget .widget-title h1,
.widget .widget-title h2,
.widget-title h2,
.page-title h1,
.page-title h2,
.page-title h3,
.page-title h4,
.page-title h5,
.page-title h6,
.nav-container a.level-top > span,
header#header .links li a.top-link-login,
header#header.header-2 .header-text-banners .item .text h3,
header#header.header-5 .header-phone,
.text-banner h2,
.text-banner h3,
.text-banner h4,
.product-tabs li,
.sorter label,
aside.sidebar .block-title strong span,
aside.sidebar .block.block-layered-nav dl dt.filter-label,
.block-layered-nav dl#narrow-by-list2 dt h2,
aside.sidebar .block .block-subtitle,
.product-name,
.product-name a,
.price,
button.button span span,
aside.sidebar .actions a,
.nav-wide ul.level0 li.level1 span.subtitle,
.nav-wide .top-content a,
.nav-wide .bottom-content span strong,
header.header .top-cart .block-title .title-cart,
header.header .top-cart .block-content .subtotal .label,
header.header .top-cart .block-content .subtotal .price,
header.header .top-cart .block-content .actions a,
.data-table .product-name a,
.cart header h2,
#cart-accordion h3.accordion-title span,
.fieldset .legend,
.product-options dt label,
.dashboard .welcome-msg .hello,
.dashboard .box-title h2,
.dashboard .box-title h3,
.dashboard .box-head h3,
.dashboard .box-head h2,
.opc h3,
.opc .step-title h2,
.cart .shipping .form-list label,
.widget-latest li .info-box,
header#header .language-currency-dropdown label,
.header-wrapper .header-menu .right-menu h3,
.header-wrapper .header-menu .right-menu li a,
.catalog-product-view .box-reviews h2,
.product-view .product-shop .product-name h1,
.product-view .product-shop .add-to-links-box a ,
.more-views h2,
.meigee-tabs a,
.block-related .block-title span,
.catalog-product-view .rating-title h2,
.text-blocks h3,
.text-blocks a,
.second-text-block .text,
.second-text-block .text h3,
.third-text-block,
.third-text-block h3,
.parallax-banners-wrapper .text-banner .banner-content h2,
.parallax-banners-wrapper .text-banner .banner-content h3,
.parallax-banners-wrapper .text-banner .banner-content h4,
.nav-container .nav-wide .bottom-content,
header.header .top-cart .cart-price-qt,
.label-new,
.label-sale,
.menu-button,
#popup-block .block-subscribe strong span,
.md-modal-header h4,
.availability.listing,
.product-options dt label,
.category-button a,
aside.sidebar .block.block-wishlist .link-cart,
.newsletter-line .block-subscribe h3,
a.aw-blog-read-more,
.cms-no-route .page-not-found h2,
.cms-no-route .page-not-found h3,
.timer-wrapper.full .title {font-family: Raleway, sans-serif!important;}

/*====== Site Bg =======*/
body,
body.boxed-layout,
#footer .footer-top,
#footer .footer-bottom,
body.boxed-layout #footer .footer-top .container_12,
body.boxed-layout #footer .footer-bottom  .container_12 {background-color: #1b1b1b;}

/*====== Skin Color #1 =======*/
a,
header#header.header-5 .text-banner h2 strong,
.price,
.catalog-product-view .box-reviews .form-add h3 span,
.third-text-block h3 span,
.nav-wide .bottom-content .sale,
.products-grid li.item .product-buttons li i:hover,
.products-list li.item .add-to-links li i:hover,
.block-compare li.item .btn-remove i:hover,
.dashboard .box-reviews .product-name a:hover,
aside.sidebar .block.block-wishlist li.item .product-details .btn-remove i:hover,
aside.sidebar .block-subscribe .actions .button:hover span i,
#footer .footer-products-list .list-small-buttons .add-to-links li i:hover,
#footer .footer-products-list .product-shop .price-box .price,
#footer .footer-products-list .product-shop .price-box .special-price .price,
.sorter a.asc:hover,
.sorter a.desc:hover {color: #4cb1f1;}

.category-products .toolbar-bottom:before,
.sorter .view-mode a:hover,
.sorter .view-mode strong,
button.button:hover > span,
aside.sidebar .actions a:hover,
.pages li.current,
.catalog-product-view .box-reviews .data-table thead,
.product-view .product-prev:hover,
.product-view .product-next:hover,
.more-views .prev i:hover,
.more-views .next i:hover,
.meigee-tabs .active,
.related-wrapper .block-related .prev i:hover,
.related-wrapper .block-related .next i:hover,
.related-products-button a:hover,
.text-blocks ul li.item i,
.parallax-banners-wrapper .text-banner .banner-content .parallax-btn span span,
.parallax-banners-wrapper .text-banner .banner-content .parallax-btn-2:hover span span,
.catalog-product-view .box-reviews .full-review,
.menu-button.mobile,
.related-wrapper-bottom .block-related .next i:hover,
.related-wrapper-bottom .block-related .prev i:hover,
.slider-container .prev i:hover,
.slider-container .next i:hover,
div.quantity-decrease i:hover,
div.quantity-increase i:hover,
.cart .btn-proceed-checkout:hover span span,
.products-list li.item .fancybox,
.products-grid li.item .fancybox,
#footer .block-tags li a:hover,
.home-container.grid-2 .item:hover .product-info-top {background-color: #4cb1f1;}

button.button:hover > span,
aside.sidebar .actions a:hover,
.related-products-button a:hover,
.parallax-banners-wrapper .text-banner .banner-content .parallax-btn > span,
.parallax-banners-wrapper .text-banner .banner-content .parallax-btn-2:hover > span,
.cart .btn-proceed-checkout:hover > span,
#footer .block-tags li a:hover {border-color: #4cb1f1;}

/*====== Skin Color #2 =======*/
a:hover,
.dashboard .box-title a:hover,
.dashboard .box-head a:hover,
.dashboard a:hover,
#categories-accordion .btn-cat .fa-minus-square-o,
.block-vertical-nav li.active > a,
.block-vertical-nav a:hover,
aside.sidebar .block.block-layered-nav ol li a:hover,
aside.sidebar .block-tags li a:hover,
nav.breadcrumbs li span:hover,
.data-table .c_actions a i:hover,
.product-view .add-to-links-box a:hover span,
.crosssell .product-details .add-to-links i:hover,
.crosssell .product-details button.button:hover span,
.cart .totals .checkout-types li a:hover,
aside.sidebar .product-name a:hover,
aside.sidebar .block.block-wishlist li.item .product-details .product-name a:hover,
.block-account li a:hover,
.block-account li strong,
.my-wishlist .data-table .table-buttons a i:hover,
#footer .footer-products-list .product-shop .product-name a:hover {color: #ff2c2c;}

.cart.cart-2 aside section.totals header,
.cart .btn-proceed-checkout span span,
.products-list li.item .fancybox:hover,
.products-grid li.item .fancybox:hover {background-color: #ff2c2c;}

.cart .btn-proceed-checkout > span {border-color: #ff2c2c;}

/*====== Category Labels =======*/
.nav-wide li.level-top .category-label.label_one { 
    background-color: #4cb1f1;
    color: #FFFFFF;
}
.nav-wide li.level-top.over .category-label.label_one { 
    background-color: #9EDE42;
    color: #FFFFFF;
}
.nav-wide li.level-top .category-label.label_two { 
    background-color: #b59470;
    color: #FFFFFF;
}
.nav-wide li.level-top.over .category-label.label_two { 
    background-color: #4FA9E1;
    color: #FFFFFF;
}
.nav-wide li.level-top .category-label.label_three { 
    background-color: #FF712F;
    color: #FFFFFF;
}
.nav-wide li.level-top.over .category-label.label_three { 
    background-color: #FF712F;
    color: #FFFFFF;
}

/*====== Header =======*/
header.header,
body.boxed-layout header.header .container_12 {background-color: #fff; color: #666;}
header.header .welcome-msg {color: #666;}
header.header a {color: #4cb1f1;}
header.header a:hover {color: #ff2c2c;}
header#header .header-top,
body.boxed-layout header#header .header-top .container_12,
header#header .header-top .language-currency-block {background-color: #f5f5f5;}
header.header .header-right .bottom-block,
header#header.header-2 .menu-line .grid_12,
header#header.header-3 .menu-line .grid_12,
header#header.header-4 .menu-line .grid_12,
header#header.header-5 .menu-line .grid_12 {border-color: #eee; border-width: 1px;}

/* Header language and currency switchers */
header#header .language-currency-block {
	background-color: #fff;
	color: #222;
}
header#header .language-currency-block:hover,
header#header .language-currency-block.open {
	background-color: #ebebeb;
	color: #222;
}
header#header .language-currency-dropdown {background-color: #fff;}
header#header .language-currency-dropdown label {color: #222;}
header#header .language-currency-dropdown .sbSelector {
	color: #666666;
	background-color: #EEEEEE;
	border-color: #EEEEEE;
}
header#header .language-currency-dropdown .sbOptions {background-color: #EEEEEE;}
header#header .language-currency-dropdown .sbOptions li a,
header#header .language-currency-dropdown > div > a {color: #666666;}
header#header .language-currency-dropdown .sbOptions li:hover {background-color: #DDDDDD;}
header#header .language-currency-dropdown .sbOptions li:hover a, 
header#header .language-currency-dropdown > div > a:hover {color: #666666;}

/**** Header Search ****/
body header.header .search_mini_form input {
	background-color: #eee;
	border-color: #eee;
	color: #AAAAAA;
	border-width: 1px;
}
body header.header .search_mini_form button > span {
	border-color: #eee;
	background-color: #eee;
	color: #AAAAAA;
	border-width: 1px;
}
body header.header .search_mini_form button:hover > span {
	background-color: #4cb1f1;
	border-color: #4cb1f1;
	color: #FFFFFF;
}
body header.header .search_mini_form .focus input {
	background-color: #eee;
	border-color: #4cb1f1;
	color: #aaa;
}
body header.header .search_mini_form .focus button > span {
	border-color: #4cb1f1;
	background-color: #4cb1f1;
	color: #fff;
}

/**** Header Toolbar ****/
header.header .top-cart .block-title .title-cart,
header.header .search-button,
header.header .right-menu-button {
	background-color: #FFFFFF;
	color: #222222;
} 
header.header .top-cart .block-title .title-cart:hover,
header.header .top-cart .block-title.active .title-cart,
header.header .search-button:hover,
header.header .search-button.open,
header.header .right-menu-button:hover,
header.header .right-menu-button.open {
	background-color: #EEEEEE;
	color: #222; 
}
header.header .top-cart .block-title .cart-qty {
	color: #666666;
	border-color: #ccc;
}
header.header .top-cart .block-title .price {color: #FF0000;}

header.header .top-cart .block-title .title-cart:hover .cart-qty,
header.header .top-cart .block-title.active .title-cart .cart-qty {
	color: #666666;
	border-color: #ccc;
}
header.header .top-cart .block-title .title-cart:hover .price,
header.header .top-cart .block-title.active .title-cart .price {color: #FF0000;}

/**** Header Cart ****/
header.header .top-cart .block-content {
	background-color: #FFFFFF;
	box-shadow: 0 0 5px rgba(0,0,0,.1);
}
header.header .top-cart .product-name a {color: #222222;}
header.header .top-cart .product-name a:hover {color: #4cb1f1;}
header.header .top-cart .block-content .mini-products-list .product-details .price {color: #4cb1f1;}
header.header .top-cart .cart-price-qt {color: #888888;}
header.header .top-cart .cart-price-qt strong {color: #666;}
header.header .top-cart .block-content .item-options dt {color: #AAAAAA;}
header.header .top-cart .block-content .item-options dd {color: #666666;}
header.header .top-cart .btn-edit i,
header.header .top-cart .btn-remove i {color: #AAAAAA;}
header.header .top-cart .btn-edit i:hover,
header.header .top-cart .btn-remove i:hover {color: #4cb1f1;}
header.header .top-cart .block-content .subtotal .label {color: #222;}
header.header .top-cart .block-content .subtotal .price {color: #4cb1f1;}
header.header .top-cart .block-content .actions {
	border-color: #ddd;
	border-width: 1px;
}

/**** Account Block ****/
header#header .links li a.top-link-login,
header#header .customer-name {
	border-color: #222;
	border-width: 1px;
	color: #222;
	background-color: #fff;
}
header#header .links li a.top-link-login:hover,
header#header .customer-name.open,
header#header .customer-name:hover {
	border-color: #f5f5f5;
	color: #222;
	background-color: #f5f5f5;
}
header#header .customer-name + .links {background-color: #FFFFFF;}
header#header .customer-name + .links li {
	border-color: #EEEEEE;
	border-width: 1px;
} 
header#header .customer-name + .links li a {
	color: #AAAAAA;
	background-color: #FFFFFF;
} 
header#header .customer-name + .links li a:hover {
	color: #AAAAAA;
	background-color: #FAFAFA;
} 

/**** Right Menu ****/
.header-wrapper .header-menu {
	background-color: #fff;
	color: #666;
}
.header-wrapper .header-menu .right-menu h3 {
	color: #222;
	border-color: #ddd;
	border-width: 1px;
}
.header-wrapper .header-menu .right-menu li a {
	background-color: #fff;
	color: #666;
}
.header-wrapper .header-menu .right-menu li a:hover {
	background-color: #eee;
	color: #666;
}
.header-wrapper .header-menu .btn-close {color: #666;}
.header-wrapper .header-menu .btn-close:hover {color: #4cb1f1;}

/*====== Sticky Header ======*/
body .header-wrapper header#sticky-header,
header#sticky-header .menu-line,
body.boxed-layout .header-wrapper header#sticky-header .menu-line .container_12,
header#sticky-header.floating .search_mini_form {background-color: #fff;}

/**** Menu ****/
header#sticky-header .nav-container a.level-top {
	background-color: #fff;
	border-color: #fff;
	border-width: 1px;
}
header#sticky-header .nav-container a.level-top > span {color: #444;}
header#sticky-header .nav-container a.level-top:hover,
header#sticky-header .nav-container .over a.level-top {
	background-color: #FFFFFF;
	border-color: #ddd;
}
header#sticky-header .nav-container a.level-top:hover > span,
header#sticky-header .nav-container .over a.level-top > span {color: #222222;}
header#sticky-header .nav-container .active a.level-top {
	background-color: #fff;
	border-color: #222;
}
header#sticky-header .nav-container .active a.level-top > span {color: #222;}

/**** Cart ****/
header#sticky-header  .top-cart .block-title .title-cart {
	background-color: #FFFFFF;
	color: #222222;
}
header#sticky-header  .top-cart .block-title .cart-qty {
	color: #AAAAAA;
	border-color: #ccc;
}
header#sticky-header  .top-cart .block-title .price  {color: #FF0000;}
header#sticky-header  .top-cart .block-title .title-cart:hover,
header#sticky-header  .top-cart .block-title.active .title-cart {
	background-color: #EEEEEE;
	color: #222;
}
header#sticky-header  .top-cart .block-title .title-cart:hover .cart-qty,
header#sticky-header  .top-cart .block-title.active .title-cart .cart-qty {
	color: #AAAAAA;
	border-color: #ccc;
}
header#sticky-header  .top-cart .block-title .title-cart:hover .price,
header#sticky-header  .top-cart .block-title.active .title-cart .price {color: #FF0000;}

/**** Search Button ****/
header#sticky-header .search-button {
	background-color: #FFFFFF;
	color: #222;
}
header#sticky-header .search-button:hover,
header#sticky-header .search-button.open {
	background-color: #eee;
	color: #222;
}

/*====== Menu =======*/

/**** Top Level ****/
.nav-container a.level-top {
	background-color: #fff;
	border-color: #fff;
	border-width: 1px;
}
.nav-container a.level-top > span {color: #444;}
.nav-container a.level-top:hover,
.nav-container .over a.level-top {
	background-color: #FFFFFF;
	border-color: #ddd;
}
.nav-container a.level-top:hover > span,
.nav-container .over a.level-top > span {color: #222222;}
.nav-container .active a.level-top {
	background-color: #fff;
	border-color: #222;
}
.nav-container .active a.level-top > span {color: #222;}

/**** Submenu ****/
.nav-wide .menu-wrapper,
.nav ul {background-color: #FFFFFF;}
.nav-wide ul.level0 li.level1 span.subtitle {
	border-width: 1px; 
	border-color: #ddd;
	color: #222222;
}
.nav-wide ul.level0 li.level1 span.subtitle:hover {
	border-color: #ddd;
	color: #222222;
} 
.nav-wide ul.level1 a,
.nav ul li a,
.nav-wide .menu-wrapper.default-menu ul.level0 li.level1 a {
	background-color: #fff;
	color: #666;
}
.nav-wide ul li,
.nav-wide ul.level1 ul,
.nav ul li,
.nav-wide .menu-wrapper.default-menu ul.level0 li {
	border-width: 1px;
	border-color: #EEEEEE;
}
.nav-wide .menu-wrapper.default-menu ul.level0 li.level1 a:hover span,
.nav-wide ul.level1 a:hover,
.nav ul li a:hover,
.nav-wide .menu-wrapper.default-menu ul.level0 li.level1 a:hover {
	background-color: #eee;
	color: #666;
}
.nav-wide ul li:hover,
.nav-wide ul.level1 ul:hover,
.nav ul li:hover,
.nav-wide .menu-wrapper.default-menu ul.level0 li:hover {border-color: #EEEEEE;}
.nav-wide .menu-wrapper {color: #666;}
.nav-wide .menu-banners .text-banner .text-banner-content h4 {color: #fff;}
.nav-wide .menu-banners .text-banner .text-banner-content h3 {color: #fff;}
.nav-wide .menu-banners .text-banner .text-banner-content.skin-2 h4 {color: #666;}
.nav-wide .menu-banners .text-banner .text-banner-content.skin-2 h3 {color: #222;}
.nav-wide .menu-banners .text-banner .text-banner-content.skin-3 h4 {color: #fff;}
.nav-wide .menu-banners .text-banner .text-banner-content.skin-3 h3 {color: #fff;}
.nav-wide .bottom-content .quick-links {color: #666;}
.nav-wide .bottom-content .quick-links a {color: #222;}
.nav-wide .bottom-content .quick-links a:hover {color: #4cb1f1;}
.nav-wide .bottom-content .sale {color: #4cb1f1;}

/*====== Revolution Slider Buttons =======*/
.rev_slider_wrapper .tp-leftarrow.default,
.rev_slider_wrapper .tp-rightarrow.default {
	background-color: rgba(0,0,0,.3);
	border-color:  #FFFFFF;
	border-width: 0px;
}
.rev_slider_wrapper .tp-leftarrow.default:after, 
.rev_slider_wrapper .tp-rightarrow.default:after {color: #fff;}

.rev_slider_wrapper .tp-leftarrow.default:hover,
.rev_slider_wrapper .tp-rightarrow.default:hover {
	background-color: #4cb1f1;
	border-color: #4cb1f1;
}
.rev_slider_wrapper .tp-leftarrow.default:hover:after, 
.rev_slider_wrapper .tp-rightarrow.default:hover:after {color: #FFFFFF;}

/*====== Parallax Banners ======*/
.parallax-banners-wrapper .text-banner .banner-content h2 {color: #fff;}
.parallax-banners-wrapper .text-banner .banner-content h3 {color: #fff;}
.parallax-banners-wrapper .text-banner .banner-content h4 {color: #fff;}
.parallax-banners-wrapper .text-banner .banner-content p {color: #fff;}
.parallax-banners-wrapper .text-banner .banner-content .divider {background-color: #fff;}
.parallax-banners-wrapper .text-banner .banner-content button > span,
.parallax-banners-wrapper .text-banner .banner-content .parallax-btn:hover > span {
	border-color: #fff;
	border-width: 2px;
}
.parallax-banners-wrapper .text-banner .banner-content button span span,
.parallax-banners-wrapper .text-banner .banner-content .parallax-btn:hover span span {
	color: #fff;
	background: none;
}
.parallax-banners-wrapper .text-banner .banner-content button:hover > span,
.parallax-banners-wrapper .text-banner .banner-content .parallax-btn > span {border-color: #4cb1f1;}
.parallax-banners-wrapper .text-banner .banner-content button:hover span span,
.parallax-banners-wrapper .text-banner .banner-content .parallax-btn span span {
	background-color: #4cb1f1;
	color: #fff;
}
.parallax-banners-wrapper .text-banner .banner-content.colors-2 h2 {color: #222;}
.parallax-banners-wrapper .text-banner .banner-content.colors-2 h3 {color: #222;}
.parallax-banners-wrapper .text-banner .banner-content.colors-2 h4 {color: #666;}
.parallax-banners-wrapper .text-banner .banner-content.colors-2 .divider {background-color: #aaa;}
.parallax-banners-wrapper .text-banner .banner-content.colors-2 p {color: #666;}
.parallax-banners-wrapper .text-banner .banner-content.colors-2 button > span,
.parallax-banners-wrapper .text-banner .banner-content.colors-2 .parallax-btn:hover > span {
	border-color: #fff;
	border-width: 2px;
}
.parallax-banners-wrapper .text-banner .banner-content.colors-2 button span span,
.parallax-banners-wrapper .text-banner .banner-content.colors-2 .parallax-btn:hover span span {
	color: #fff;
	background: none;
}
.parallax-banners-wrapper .text-banner .banner-content.colors-2 button:hover > span,
.parallax-banners-wrapper .text-banner .banner-content.colors-2 .parallax-btn > span {border-color: #4cb1f1;}
.parallax-banners-wrapper .text-banner .banner-content.colors-2 button:hover span span,
.parallax-banners-wrapper .text-banner .banner-content.colors-2 .parallax-btn span span {
	background-color: #4cb1f1;
	color: #fff;
}

/*====== 404 page ======*/
.page-not-found h2 {color: #fff;}
.page-not-found h3 {color: #fff;}
.page-not-found p {color: #fff;}
.page-not-found .button > span {
	border-color: #fff;
	border-width: 2px;
}
.page-not-found .button span span {color: #fff;}
.page-not-found .button:hover > span {border-color: #4cb1f1;}
.page-not-found .button:hover span span {
	color: #fff;
	background-color: #4cb1f1;
}
.page-not-found .form-search input {
	background-color: rgba(255,255,255,.2);
	color: #fff;
}
.page-not-found .form-search button > span {background-color: rgba(255,255,255,.2);}
.page-not-found .form-search button > span i {color: #fff;}
.page-not-found .form-search button:hover > span {background-color: #4cb1f1;}
.page-not-found .form-search button:hover > span i {color: #fff;}
body.cms-no-route #not-found-footer  address,
body.cms-no-route #not-found-footer  address a {color: #fff;}
body.cms-no-route #not-found-footer .footer-links a {color: #fff;}
body.cms-no-route #not-found-footer .footer-links a:hover {
	color: #fff;
	background-color: rgba(255,255,255,.2);
}

/*====== Content =======*/
body .widget .widget-title h1,
body .widget .widget-title h2,
.widget-title h2,
.page-title h1,
.page-title h2,
.page-title h3,
.page-title h4,
.page-title h5,
.page-title h6,
.related-wrapper-bottom .block-title strong span,
.rating-title h2 {color: #222222;}
.page-title .left-divider,
.page-title .right-divider,
.widget .widget-title .left-divider,
.widget .widget-title .right-divider,
.widget-title .left-divider,
.widget-title .right-divider,
.cart header .left-divider,
.cart header .right-divider {
	border-color: #DDDDDD;
	border-width: 2px;
}

/**** Toolbar ****/
.toolbar {border-color: #ddd;}
.sorter label {color: #222;}
.toolbar .sbSelector,
.toolbar .sbOptions,
.toolbar .sbHolder .sbToggleOpen + .sbSelector {background-color: #eee;}
.toolbar .sbSelector > span,
.toolbar .sbOptions a,
.toolbar .sbHolder .sbToggleOpen + .sbSelector,
.toolbar .sbHolder .sbToggleOpen + .sbSelector > span {
	color: #666;
	border-top-color: #666;
}
.toolbar .sbHolder .sbToggleOpen + .sbSelector {border-color: #666;}

/**** Pager ****/
.pages li.current {
	background-color: #4cb1f1;
	color: #FFFFFF;
}
.pages li a {background-color: #EEEEEE;}
.pages li a,
.pager .pages li a.i-previous i,
.pager .pages li a.i-next i  {color: #666;}
.pages li a:hover,
.pager .pages li a.i-previous i:hover,
.pager .pages li a.i-next i:hover {color: #666; background-color: #ddd;}

/*====== Buttons =======*/

.category-button a,
aside.sidebar .actions a,
header.header .top-cart .block-content .actions a,
a.aw-blog-read-more,
.add-to-cart-success a,
aside.sidebar .block.block-wishlist .link-cart {
	background-color: #fff;
	color: #aaa;
	border-width: 2px;
	border-color: #ddd;
}
body .button-wrapper .text-block-button:hover span span,
#popup-block .block-subscribe .button:hover span span,
#product-addtocart-button:hover span span,
.products-grid li.item .button-holder .btn-cart span span i,
aside.sidebar .block-poll .actions button span span,
.cart-table .buttons-row .buttons .btn-clear span span,
.cart-table .buttons-row .buttons .btn-update span span,
.my-wishlist .buttons-set .btn-share span span,
.my-wishlist .buttons-set .btn-add span span,
body .text-banner .banner-content button span span,
body button.button span span {
	background-color: #fff;
	color: #aaa;
}
body .button-wrapper .text-block-button:hover > span,
#popup-block .block-subscribe .button:hover > span,
#product-addtocart-button:hover > span,
.products-grid li.item .button-holder .btn-cart > span,
aside.sidebar .block-poll .actions button > span,
.cart-table .buttons-row .buttons .btn-clear > span,
.cart-table .buttons-row .buttons .btn-update > span,
.my-wishlist .buttons-set .btn-share > span,
.my-wishlist .buttons-set .btn-add > span,
body .text-banner .banner-content button > span,
body button.button > span {
	border-width: 2px;
	border-color: #ddd;
}
.category-button a:hover,
aside.sidebar .actions a:hover,
header.header .top-cart .block-content .actions a:hover,
a.aw-blog-read-more:hover,
.add-to-cart-success a:hover,
aside.sidebar .block.block-wishlist .link-cart:hover {
	color: #fff;
	border-color: #4cb1f1;
	background-color: #4cb1f1;
}
body .button-wrapper .text-block-button span span,
#popup-block .block-subscribe .button span span,
#product-addtocart-button span span,
.products-grid li.item .button-holder .btn-cart:hover span span i,
aside.sidebar .block-poll .actions button:hover span span,
.cart-table .buttons-row .buttons .btn-clear:hover span span,
.cart-table .buttons-row .buttons .btn-update:hover span span,
.my-wishlist .buttons-set .btn-share:hover span span,
.my-wishlist .buttons-set .btn-add:hover span span,
body .text-banner .banner-content button:hover span span,
body button.button:hover span span {
	background-color: #4cb1f1;
	color: #FFFFFF;
}
body .button-wrapper .text-block-button > span,
#popup-block .block-subscribe .button > span,
#product-addtocart-button > span,
.products-grid li.item .button-holder .btn-cart:hover > span,
aside.sidebar .block-poll .actions button:hover > span,
.cart-table .buttons-row .buttons .btn-clear:hover > span,
.cart-table .buttons-row .buttons .btn-update:hover > span,
.my-wishlist .buttons-set .btn-share:hover > span,
.my-wishlist .buttons-set .btn-add:hover > span,
body .text-banner .banner-content button:hover > span,
body button.button:hover > span {
	border-color: #4cb1f1;
}

/**** Buttons Type 2 ****/
.cart .btn-proceed-checkout > span {
	border-width: 2px;
	border-color: #ff2c2c;
}
.cart .btn-proceed-checkout span span {
	background-color: #ff2c2c;
	color: #fff;
}
.cart .btn-proceed-checkout:hover > span {border-color: #4cb1f1;}
.cart .btn-proceed-checkout:hover span span {
	background-color: #4cb1f1;
	color: #fff;
}

/*====== Price Countdown ======*/
body .timer-box > div {color: #dd1313;}
body .timer-box .title,
body .timer-wrapper .title,
body .timer-wrapper .timer-box > div.title,
body .timer-wrapper.full .timer-box > div.title  {color: #222;}
body .timer-wrapper {
	border-color: #dd1313;
	border-width: 1px;
}
body .timer-wrapper.full .timer-box > div strong {color: #666;}

/*====== Products ======*/
.products-list li.item .product-img-box,
.products-grid li.item .product-img-box {
	background-color: #FFFFFF;
	border-width: 0px;
	border-color: #FFFFFF;
}
.products-grid .product-name a,
.products-list .product-name a {color: #222222;}
.products-grid .product-name a:hover,
.products-list .product-name a:hover {color: #4cb1f1;}
.products-list .desc,
.products-grid .desc {color: #666666;}
.products-list .desc a,
.products-grid .desc a {color: #4cb1f1;}
.products-list .desc a:hover,
.products-grid .desc a:hover {color: #ff2c2c;}
.price-box .price {color: #4cb1f1;}
.old-price .price,
.price-box .old-price .price {color: #AAAAAA;}
.special-price .price {color: #4cb1f1;}
.products-list .desc,
.products-list .price-box,
.products-list .ratings,
.products-list .product-name,
.products-grid li.item .product-buttons {
	border-color: #DDDDDD;
	border-width: 1px;
}

/**** Product Labels ****/
.products-grid .availability-only,
.products-list .availability-only,
.label-sale {
	background-color: #ff0000;
	color: #FFFFFF;
}
.label-type-5 .label-sale:before,
.products-grid.label-type-5 .availability-only:before,
.products-list.label-type-5 .availability-only:before{
	border-top-color: #ff0000;
}
.label-type-5 .label-sale:after,
.products-grid.label-type-5 .availability-only:after,
.products-list.label-type-5 .availability-only:after{
	border-bottom-color: #ff0000;
}
.label-new {
	background-color: #222222;
	color: #FFFFFF;
}
.label-type-5 .label-new:before{
    border-top-color: #222222;
}
.label-type-5 .label-new:after{
    border-bottom-color: #222222;
}

/*====== Social Links ======*/
ul.social-links li a {
	background-color: #222;
	border-color: #222;
	border-width: 0px;
}
ul.social-links li a:hover {
	background-color: #393939;
	border-color: #393939;
}
ul.social-links li a i {
	color: #a9a9a9;
	border-color: #2f2f2f;
	border-width: 1px;
}
ul.social-links li a:hover i {
	color: #a9a9a9;
	border-color: #454545;
}

/*====== Footer ======*/

/**** Top Block ****/
#footer .footer-top,
body.boxed-layout #footer .footer-top .container_12 {
	background-color: #222;
	color: #aaa;
}
#footer .footer-links-block,
body.boxed-layout #footer .footer-links-block .container_12 {
	border-color: #2e2e2e;
	border-width: 1px;
}
#footer a {color: #4cb1f1;}
#footer a:hover {color: #ff2c2c;}
#footer .button > span {
	border-color: #aaa;
	border-width: 2px;
}
#footer .button span span {
	background-color: #222;
	color: #aaa;
}
#footer .button:hover > span {border-color: #4cb1f1;}
#footer .button:hover span span {
	background-color: #4cb1f1;
	color: #fff;
}
#footer .footer-block-title {
	border-color: #444;
	border-width: 1px;
}
#footer .footer-block-title h2 {color: #fff;}
#footer .links li:before {background-color: #222;}
#footer .links li a {color: #aaa;}
#footer .links li:after {background-color: #2b2b2b;}
#footer .links li a:hover {color: #aaa;}
#footer .footer-links li a {color: #aaa; background-color: #222;}
#footer .footer-links li a:hover {color: #aaa; background-color: #323232;}

/**** Bottom Block ****/
#footer .footer-bottom,
body.boxed-layout #footer .footer-bottom .container_12 {
	background-color: #111;
	color: #FFFFFF;
}
#footer address,
#footer address a {color: #FFFFFF;}
#footer .store-switcher label,
#footer .form-language label,
#footer .form-currency label {color: #AAAAAA;}
#footer .sbSelector {
	background-color: #323232;
	color: #FFFFFF;
	border-color: #323232;
	border-width: 1px;
}

/**** Contact Form ****/
#footer #AjaxcontactForm li .input-box input,
#footer #AjaxcontactForm li textarea {
	background-color: #222222;
	border-color: #444444;
	color: #AAAAAA;
}
#footer #AjaxcontactForm li label {color: #AAAAAA;}

/**** Newsletter ****/
#footer .block-subscribe label {color: #aaa;}
#footer .block-subscribe .input-box input {
	background-color: #444;
	border-color: #444;
	color: #888;
}
#footer .block-subscribe .button span i {
	background-color: #444;
	color: #fff;
}
#footer .block-subscribe .button:hover span i {
	background-color: #444;
	color: #4cb1f1;
}
/**** Facebook Widget ****/
.facebook-widget-wraper {background-color: #FFFFFF;}

/**** Footer Products List ****/
#footer .footer-products-list .product-shop .product-name a {color: #aaa;}
#footer .footer-products-list .product-shop .product-name a:hover {color: #ff2c2c;}
#footer .footer-products-list .product-shop .price-box .price {color: #4cb1f1;}
#footer .footer-products-list .product-shop .price-box .old-price .price {color: #aaa;}
#footer .footer-products-list .product-shop .price-box .special-price .price {color: #4cb1f1;}
#footer .footer-products-list .list-small-buttons .add-to-links li i {color: #aaa;}
#footer .footer-products-list .list-small-buttons .add-to-links li i:hover {color: #4cb1f1;}

/**** Footer Tags ****/
#footer .block-tags li a {
	color: #888;
	border-color: #4e4e4e;
	background-color: #222;
}
#footer .block-tags li a:hover {
	color: #fff;
	border-color: #4cb1f1;
	background-color: #4cb1f1;
}