<?php
    $_productCollection = $this->getMyCollection();
	$visibleProducts = $this->getData('visible_products');
	$productCount = count($_productCollection);
	if (count($_productCollection)) {
		$category = $this->catName();
		$_helper = $this->helper('catalog/output');
		$_collectionSize = $this->getProductsAmount();
		$_addToCart = $this->getAddToCart('add_to_cart_slider');
		$_price = $this->getProductPrice('price_slider');
		$_productName = $this->getProductName('product_name_slider');
		$wishlist = $this->getWishlist('wishlist_slider');
		$compareproducts = $this->getCompareProducts('compare_slider');
		$ratingStars = $this->getRatingStars('rating_stars_slider');
		$ratingCustomerLink = $this->getRatingCustLink('rating_cust_link_slider');
		$ratingReviewLink = $this->getRatingAddReviewLink('rating_add_review_link_slider');
		$random = rand(5,1500);
		$randId = $this->getWidgetId();
		$meigee_harbour_general = MAGE::helper('ThemeOptionsHarbour')->getThemeOptionsHarbour('meigee_harbour_general');
		
		$timerStatus = $meigee_harbour_general['price_countdown']['status'];
		$widgetTimer = $this->getProductTimer('timer_slider');
		$timerTitle = $meigee_harbour_general['price_countdown']['timer_listing_title'];
		$timerTitleText = $meigee_harbour_general['price_countdown']['timer_listing_title_text'];
		$timerFormat = $meigee_harbour_general['price_countdown']['timer_listing_format'];
		$timerDisplay = $meigee_harbour_general['price_countdown']['timer_listing_display'];
		
		$fancybox = $meigee_harbour_general['fancybox'];
		$helpImg = $this->helper('ThemeOptionsHarbour/images');
		$labelsoptions = $meigee_harbour_general['productlabels'];
		$productOnlyXleft = $meigee_harbour_general['productlabels']['labelonlyxleft'];
		$labelsType = $meigee_harbour_general['productlabels']['labelview'];
		$labelsPosition = $meigee_harbour_general['productlabels']['labelsposition'];
		switch ($visibleProducts) {
			case 2:
				$visibleProducts = 'two-products';
				$imgSize = 814;
			break;
			case 3:
				$visibleProducts = 'three-products';
				$imgSize = 543;
			break;
			case 4:
				$visibleProducts = 'four-products';
				$imgSize = 424;
			break;
			case 5:
				$visibleProducts = 'five-products';
				$imgSize = 325;
			break;
			case 6:
				$visibleProducts = 'six-products';
				$imgSize = 271;
			break;
			case 7:
				$visibleProducts = 'seven-products';
				$imgSize = 233;
			break;
			case 8:
				$visibleProducts = 'eight-products';
				$imgSize = 203;
			break;
		}
?>
<?php // Slider ?>
<div class="slider-container widget-container">
	<?php if($productCount > $visibleProducts): ?>
		<div class="home-container">
			<div class="home-slider-conainer">
				<div class="home-slider es-carousel-wrapper" id="home-slider-<?php echo $randId; ?>">
					<div class="widget-slider <?php echo $visibleProducts; ?>">
						<ul class="products-grid<?php echo ' '.$labelsType.' '.$labelsPosition; ?> carousel-ul">
							<?php $i=0; foreach ($_productCollection as $_product): ?>
							<?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
							<li class="item<?php if($labelsoptions['labelsorder'] == 'new_sale'):?> labels-new-sale<?php endif; ?>">
								<div class="indent">
									<div class="product-img-box">
										<?php echo MAGE::helper('ThemeOptionsHarbour')->getProductLabels($_product, 'new'); ?>
										<?php if($productOnlyXleft and MAGE::helper('ThemeOptionsHarbour')->getProductOnlyXleft($_product)): ?>
											<?php echo MAGE::helper('ThemeOptionsHarbour')->getProductOnlyXleft($_product); ?>
										<?php else: ?>
											<?php echo MAGE::helper('ThemeOptionsHarbour')->getProductLabels($_product, 'sale'); ?>
										<?php endif; ?>
										<?php if ($this->displayProductStockStatus()): ?>
											<?php if (!$_product->isAvailable()): ?>
												<p class="availability out-of-stock listing"><span><?php echo $this->__('Out of stock') ?></span></p>
											<?php endif; ?>
										<?php endif; ?>
										<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><?php /* Hover Image */ echo $helpImg->getHoverImage($_product, 'small_image', $imgSize, null); ?><img <?php echo $helpImg->getImgSources($_product, 'small_image', $imgSize, null); ?> alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
										<?php  // Fancybox
										if ($this->displayProductStockStatus()):
											if ($_product->isAvailable()):
												if ($fancybox['fancybox_status'] && $fancybox['fancybox_home'] == 1): ?>
													<a class="fancybox category-gallery" title="<?php echo $_productNameStripped; ?>" href="<?php echo $this->helper('catalog/image')->init($_product, 'small_image'); ?>"><?php echo MAGE::helper('ThemeOptionsHarbour')->getIcon('fancybox'); ?></a>
											<?php endif;
											endif;
										endif;
										// End Fancybox ?>
									</div>
									<div class="product-info <?php if (!$_addToCart) { echo 'no-add-to-cart'; }?>">
										<?php if($_productName): ?>
											<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
										<?php endif; ?>
										<?php $storeId = Mage::app()->getStore()->getId();
											$summaryData = Mage::getModel('review/review_summary')->setStoreId($storeId)->load($_product->getId());
											if ($summaryData['rating_summary']): ?>
											<?php if ($ratingCustomerLink || $ratingReviewLink || $ratingStars) : ?>
												<div class="ratings">
													<?php if ($ratingStars) : ?>
														<div class="rating-box">
															<div class="rating" style="width: <?php echo $summaryData['rating_summary']; ?>%"></div> 
														</div>
													<?php endif; ?>
													<p class="rating-links">
														<?php if ($ratingCustomerLink) : ?>
															<a href="<?php echo $_product->getProductUrl() ?>#review-point"><?php echo $this->__('%d Review(s)', $summaryData['reviews_count']) ?></a>
														<?php endif; ?>
														<?php if ($ratingCustomerLink && $ratingReviewLink) : ?>
															<span class="separator">|</span>
														<?php endif; ?>
														<?php if ($ratingReviewLink) : ?>
															<a href="<?php echo $_product->getProductUrl() ?>#review-point"><?php echo $this->__('Add Your Review') ?></a>
														<?php endif; ?>
													</p>
												</div>
											<?php endif; ?>
										<?php endif; ?>
										<?php if($_price): ?>
											<?php echo $this->getPriceHtml($_product, true) ?>
										<?php endif; ?>
										<?php 
											if($timerStatus && $widgetTimer) {
												$specialprice = $_product->getSpecialPrice(); 
												$specialPriceFromDate = $_product->getSpecialFromDate();
												$specialPriceToDate = $_product->getSpecialToDate();
												$today =  time();
												if ($specialprice && isset($specialPriceFromDate) && isset($specialPriceToDate)):
													if($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime( $specialPriceFromDate) && is_null($specialPriceToDate)):
											?>
														<div class="timer-<?php echo $_product->getId().$random; ?> timer-box<?php if($timerDisplay == 0): ?> no-days<?php endif; ?>">
															<?php if($timerTitle): ?>
																<div class="title"><?php echo $timerTitleText; ?></div> 
															<?php endif; ?>
															<?php if ($timerFormat == 0) { ?>
																<div class="days"><span>00</span></div>
																<div class="hours"><span>00</span></div>
																<div class="minutes"><span>00</span></div>
																<div class="seconds"><span>00</span></div>
															<?php } elseif ($timerFormat == 1) { ?>
																<div class="days"><span>00</span><?php echo $this->__('d'); ?></div>
																<div class="hours"><span>00</span><?php echo $this->__('h'); ?></div>
																<div class="minutes"><span>00</span><?php echo $this->__('m'); ?></div>
																<div class="seconds"><span>00</span><?php echo $this->__('s'); ?></div>
															<?php } ?>
														</div>
														<script type="text/javascript">
															endDate = new Date("<?php echo Date("m/d/y", strtotime($specialPriceToDate)).' 11:59:00 PM'; ?>");
															startDate = new Date(Date.parse("<?php echo Date("m/d/y h:i:s A", strtotime(Mage::app()->getLocale()->date(null, null, "en_US", true))); ?>"));
															dateDiff = new Date((endDate)-(startDate));
															secondsDiff = Math.floor(dateDiff.valueOf()/1000);
															new productTimer.init(secondsDiff, <?php echo $_product->getId().$random; ?>);
														</script>
											<?php 
													endif;
												endif;
											}
										?>
									</div>
									<?php if($_product->isSaleable() and $_addToCart): ?>
										<div class="button-holder"><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></div>
									<?php endif; ?>
									<?php if ($wishlist || $compareproducts) { ?>
										<div class="product-buttons">
											<ul class="add-to-links">
												<?php if ($this->helper('wishlist')->isAllow() and $wishlist) : ?>
													<li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo MAGE::helper('ThemeOptionsHarbour')->getIcon('wishlist'); ?></a></li>
												<?php endif; ?>
												<?php if($_compareUrl=$this->getAddToCompareUrl($_product) and $compareproducts): ?>
													<li><a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo MAGE::helper('ThemeOptionsHarbour')->getIcon('compare'); ?></a></li>
												<?php endif; ?>
											</ul>
										</div>
									<?php } ?>
								</div>
							</li>
							<?php if (++$i > $_collectionSize-1 ) break; endforeach ?>
						</ul>
					</div>
					<?php if ($productCount >= $visibleProducts): ?>
					<div class = 'next'><i class="fa fa-chevron-right"></i></div>
					<div class = 'prev unselectable'><i class="fa fa-chevron-left"></i></div>
					<?php endif; ?>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<?php
			if(get_class($this) == "Meigee_MeigeewidgetsHarbour_Block_Featuredcategory"):
			$cat = $_product->getCategoryIds();
			$cat_name = Mage::getModel('catalog/category')->load($cat[0])->getName();
			$cat_url = Mage::getModel('catalog/category')->load($cat[0])->getUrl();
		?>
		<div class="category-button"><a href="<?php echo $cat_url; ?>" title="<?php echo $cat_name; ?>"><?php echo $this->__('View Category'); ?></a></div>
		<?php endif; ?>
		<script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
		<script type="text/javascript">
		if(!jQuery('body').hasClass('mobile-device')){
			setTimeout(function(){
				function widthCorrector(){
						var widget = jQuery('#home-slider-<?php echo $randId; ?>');
						widget.children('style').remove();
						var widgetWidth = widget.width();
						//widget.find('.widget-slider li.item:first').attr('style', '');
						var widgetItemWidth = widget.find('.widget-slider li.item:first').width();
						setTimeout(function(){
							var columnsCount = Math.round(widgetWidth/widgetItemWidth);
							var columnWidth = Math.floor(widgetWidth/columnsCount);
							var widgetItemsCss = '<style type="text/css">#home-slider-<?php echo $randId; ?> .widget-slider li.item{width:'+ columnWidth +'px;}</style>';
							widget.append(widgetItemsCss);
						}, 300);
				}
				widthCorrector();
				jQuery(window).resize(function(){widthCorrector()});
			}, 300);
		}
		<?php if ($productCount >= $visibleProducts): ?>
			jQuery(window).load(function(){
				jQuery('#home-slider-<?php echo $randId; ?> .widget-slider').iosSlider({
				  responsiveSlideWidth: true,
				  snapToChildren: true,
				  desktopClickDrag: true,
				  infiniteSlider: false
				  <?php echo $this->getSliderOptions(); ?>,
				  /* navSlideSelector: '.sliderNavi .naviItem', */
				  navNextSelector: '#home-slider-<?php echo $randId; ?> .next',
				  navPrevSelector: '#home-slider-<?php echo $randId; ?> .prev'
				  <?php if(isset($sliderConfig ['autoSlide'])): ?>, autoSlide: <?php echo $sliderConfig ['autoSlide']; ?><?php endif; ?>
				  <?php if(isset($sliderConfig ['autoSlideTimer'])): ?>, autoSlideTimer: <?php echo $sliderConfig ['autoSlideTimer']; ?><?php endif; ?>
				});
				
				function widget_slider_height_<?php echo $randId; ?>(){
					setTimeout(function(){
						var widget_slider_height = 0;
						jQuery('.widget-container #home-slider-<?php echo $randId; ?> .products-grid li.item').each(function(){
							if(jQuery(this).height() > widget_slider_height){
								widget_slider_height = jQuery(this).height();
							}
						})
						jQuery('.widget-container #home-slider-<?php echo $randId; ?> .widget-slider').css({
							'min-height': (widget_slider_height+2),
							'height': 'auto'
						});
						
					}, 1000);
				}
				widget_slider_height_<?php echo $randId; ?>();
				
				function sliderButtonsTop<?php echo $randId; ?>() {
					if(jQuery('#home-slider-<?php echo $randId; ?>').length){
						setTimeout(function(){
							var maxHeight = 0;
							jQuery('.widget-container #home-slider-<?php echo $randId; ?>  li.item .product-image').each(function() {
								if (jQuery(this).height() > maxHeight){
									maxHeight = jQuery(this).height();
								}
								jQuery('.widget-container #home-slider-<?php echo $randId; ?>  .next, .widget-container #home-slider-<?php echo $randId; ?>  .prev').css('top', maxHeight/2);
							});
						}, 500);
					}
				}
				sliderButtonsTop<?php echo $randId; ?>();
				jQuery(window).resize(function(){widget_slider_height_<?php echo $randId; ?>(); sliderButtonsTop<?php echo $randId; ?>()});
			  });
			<?php endif; ?>
		  
		  jQuery(document).ready(function(){
				jQuery('.widget-container').each(function(){
					if(!jQuery(this).prev().hasClass('page-title')){
						jQuery(this).addClass('no-title');
					}
				});
			});
		</script>
	<?php else: ?>
		<div class="no-widget"><?php echo $this->__("Warning: Please make sure you have %s+ products to display in the slider, otherwise widget won't be displayed", $visibleProducts+1) ?></div>
	<?php endif; ?>
</div>
<?php 
	unset ($randId);
}
?>